.filter-bar-group {
  position: relative;
  text-align: center;
}

.filter-select-wrapper {
  position: relative;
}


.custom-dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Adjust the color as needed */
  pointer-events: none; /* Prevent clicking on the arrow */
}

.filter-bar-group select {
  padding-right: 30px; /* Add space for the arrow */

}

.dropdown-toggle {
  background-color: rgba(3, 142, 177, 0.959) !important; /* Change the button color to blue */
  border-color: rgba(3, 142, 177, 0.959) !important;     /* Match the border color */
  color: #fff;                          /* Ensure the text color stays white */
  margin-top: 7.5%;
  margin-right:85%;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: rgba(3, 125, 177, 0.959) !important; /* Darker blue on hover */
  border-color: rgba(3, 125, 177, 0.959) !important;
}
